.btn {
  @include flex(center, center);

  border-radius: 5px;

  height: 43px;
  font-family: "cantarell";

  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  border: none;
}

.btn-primary {
  background-color: #afc7fa;
  width: 275px;

  &:hover {
    background-color: #8faff7;
  }
}

.btn-secondary {
  width: 100px;

  background-color: #fff;
  border: 1px solid #030e27;

  &:hover {
    background-color: #8faff7;
  }
}

