.swiper {
  // .swiper__wrapper
  &__wrapper {
  }

  // .swiper__slide
  &__item {
    width: 380px;
    height: 416px;

    background-color: #f1f1f1;
    border: 1px solid #030e27;
    border-radius: 10px;

    padding: 30px 18px 18px;

    border-radius: 30px;
  }

  // .swiper__box-img
  &__box-img {
    width: 120px;
    margin: 0 auto 20px;
  }

  // .swiper__img
  &__img {
    width: 100%;
  }
}
