.advantage {
	position: relative;
	top: -426px;
	
	// .advantage__wrapper
	&__wrapper {
		@include flex();
		gap: 40px;
	}
	// .advantage__box-img
	&__box-img {}
	// .advantage__img
	&__img {}
	// .advantage__content
	&__content {
		@include flex($flex-direction: column);
		gap: 40px;
	}
	// .advantage__title
	&__title {
	
font-size: 54px;
line-height: 54px;
margin-top: 52px;



	}
	// .advantage__list
	&__list {
		@include flex($flex-direction: column);
		gap: 35px;
		padding-left: 38px;
	}
	// .advantage__item
	&__item {
	
font-family: 'Cantarell';

font-weight: 500;
font-size: 22px;
line-height: 31px;
max-width: 572px;


	}
	// .advantage__btn
	&__btn {
		width: 266px;
		height: 46px;
	}
}
