.form-presentation {
  position: relative;
  top: -320px;
  padding: 80px 0 160px;

  background: linear-gradient(
      270deg,
      rgba(3, 14, 39, 0.45) 8.02%,
      rgba(3, 14, 39, 0) 100%
    ),
    url(@img/presentation.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // .form-presentation__wrapper
  &__wrapper {
    @include flex(space-between);
  }
  // .form-presentation__content
  &__content {
  }
  // .form-presentation__title
  &__title {
    font-size: 54px;
    line-height: 54px;

    color: #fff;
    max-width: 600px;
  }
  // .form-presentation__form
  &__form {
    display: grid;

    grid-template-areas:
      "name company"
      "tel email"
      "message message"
      "button button";
    gap: 40px;
  }
  .form {
    // .form__box
    &__box {
    }
    // .form__wrap
    &__wrap {
    }
    // .form__wrap--name
    &__wrap--name {
      grid-area: name;
    }
    // .form__label
    &__label {
    }
    // .form__input
    &__input {
      max-width: 380px;
      min-width: 380px;
    }
    // .form__wrap--company
    &__wrap--company {
      grid-area: company;
    }
    // .form__wrap--tel
    &__wrap--tel {
      grid-area: tel;
    }
    // .form__wrap--email
    &__wrap--email {
      grid-area: email;
    }
    // .form__wrap--message
    &__wrap--message {
      grid-area: 3 / 1 / 4 / 3;
    }
    // .form__textarea
    &__textarea {
      width: 800px;
      height: 170px;

      opacity: 0.5;
      border: 2px solid #fff;
      border-radius: 10px;
      margin-bottom: 40px;
    }
    // .form__wrap--btn
    &__wrap--btn {
      grid-area: 4 / 1 / 5 / 3;
    }
    // .form__btn
    &__btn {
      width: 120px;
      height: 43px;
    }
  }
}
