.reviews {
  position: relative;
  top: -425px;
  padding: 70px 0 45px;
  // .reviews__title
  &__title {
    font-size: 54px;
    line-height: 54px;

    text-align: center;
	margin-bottom: 40px;
  }
  // .reviews__buttons
  &__buttons {
  }
  .swiper {
    // .swiper__item
    &__item {
		width: 480px;
		height: 450px;
		background-color: transparent;
		border: none;
		border-radius:0;
		padding: 0;
    }
    // .swiper__box
    &__box {
		@include flex ($flex-direction: column);
		gap: 30px;
    }
    // .swiper__desc
    &__desc {
		@include flex();
		gap: 15px;
		height: 83px;

    }
    // .swiper__circle
    &__circle {
      @include wh(70px);
      border-radius: 50%;

      background-color: #d9d9d9;
    }

		// .swiper__box-desc
		&__box-desc {
			@include flex ($flex-direction: column);
		}


    // .swiper__title
    &__title {
      font-family: "cantarell";
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;

      color: #030e27;
    }
    p {
      font-family: "cantarell";

      font-weight: 500;
      font-size: 18px;
      line-height: 26px;

      color: #030e27;
    }
    // .swiper__span
    &__span {
      font-family: "cantarell";

      font-weight: 500;
      font-size: 22px;
      line-height: 31px;

      color: #8faff7;
    }
  }
  .reviewsSwiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .swiper-button-next {
  }
  .swiper-button-prev {
  }
}
