.form {
  // .form__box
  &__box {
    @include flex($flex-direction: column);
    gap: 50px;
    &--btns {
      margin-top: 60px;
    }
  }

  // .form__wrap
  &__wrap {
    @include flex($flex-direction: column);
  }

  // .form__label
  &__label {
  }

  // .form__input
  &__input {
    font-family: "Cantarell";

    font-weight: 500;
    font-size: 22px;
    line-height: 31px;

    @include wh(100%, 33px);
    min-width: 660px;
    max-width: 660px;

    color: #030e27;
    border-bottom: 1px solid #030e27;

    &:focus,
    &:focus-visible {
      border-color: #030e27;
    }
  }

  &__input::placeholder,
  &__textarea::placeholder {
    font-family: "Cantarell";
    color: #030e27;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
  }

  // .form__textarea
  &__textarea {
    min-width: 240px;
    height: 120px;

    border: 2px solid #030e27;
    border-radius: 20px;
    color: #030e27;
    padding: 15px 30px;
    resize: none;
  }

  // .form__inner
  &__inner {
    @include flex(space-between, center);
  }

  // .form__btn
  &__btn {
    margin-bottom: 20px;
  }

  // .form__text
  &__text {
    text-align: left;
  }

  // .form__link
  &__link {
    text-decoration: underline !important;
  }
}
