.nav--top {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
  margin-bottom: 30px;

  .nav__link {
    font-size: 22px;
    line-height: 31px;
  }
}

.nav--bottom {
  justify-content: space-between;
  padding-left: 290px;

  .nav__link {
    font-size: 18px;

    line-height: 26px;
  }

  .nav__list {
    gap: 50px;
  }
}

.nav {
  // .nav__list
  &__list {
    @include flex();
    gap: 43px;
    padding-left: 30px;
    font-family: "Cantarell";
    color: #fff;
  }
  // .nav__item
  &__item {
	@include flex($flex-direction:column);
	gap: 5px;
    font-size: 16px;
    line-height: 23px;
  }
  // .nav__link
  &__link {
  }

}
