// Заголовки, общие БЄМ блоки и проче...

.title {
  font-family: "Bogart-Medium";

  font-weight: 500;
  font-size: 50px;
  line-height: 57px;

  color: #030e27;
}

.text {
  font-family: "cantarell";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;

  color: #030e27;
  &--small {
    font-size: 16px;
    line-height: 23px;
	color: #000;
  }
}
