.footer {
  background-color: #f1f1f1;

  // .footer__wrapper
  &__wrapper {
    @include flex(space-between, center);
  }
  // .footer__inner
  &__inner {
    width: 100%;
  }
  // .footer__nav
  &__nav {
    @include flex(space-between);
  }
  // .footer__logo
  &__logo {
    margin-right: 100px;
  }
  // .footer__btns
  &__btns {
    @include flex();
    gap: 20px;
  }
  // .footer__btn
  &__btn {
  }
  // .footer__bottom
  &__bottom {
    @include flex(space-between);
  }
  // .footer__text
  &__text {
    font-size: 18px;
    line-height: 26px;
  }
  // .footer__wrap
  &__wrap {
    @include flex(space-between);
  }
  .nav {
    // .nav__list
    &__list {
      @include flex();
      gap: 43px;
      padding-left: 30px;
      font-family: "Cantarell";
      color: #030e27;
    }
  }
  .nav--top {
    border-bottom: 1px solid #030e27;
    
  }
}
